.App{
  text-align: center;
  font-family: "domine";
  margin-top: 50px;
}

.container{
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
}

.box{
  width: 300px;
  background-color: #2290ff;
  border-radius: 30px;
  padding: 30px;
  text-align: center;
}

.count h3,h2{
  color: white;
}

.count h3{
  font-size: 30px;
}


.count{
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.count button{
  height: 40px;
  width: 40px;
  background-color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
}

.left:active{
  background-color: red;
  color: white;
}

.right:active{
  background-color: green;
  color: white;
}

.reset {
  padding: 8px 30px;
  border: none;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
}

.reset:active{
  background-color: black;
  color:white;
}